*{
	font-family: 'Cabin', sans-serif;
	color: #141823;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Josefin Sans', sans-serif;
}
button, .btn, input, .form-control, select, textarea{
	border-radius: 2px !important;
}
select{
	-webkit-appearance: none !important;
}
small{
	opacity: .6;
}
ul{
	list-style: none;
	padding: 0;
}
.push{
	clear: both;
}

html{
	max-width: 100%;
	overflow-x: hidden;
}
body{
	background: #FFFAFA;
}

h1{
	display: none;
}
header .logo{
	margin: 15px 0 0 2%;
}
@media (max-width: 450px){
	header .logo{
		width: 250px;
	}
}
header .btn{
	float: right;
	margin: 23px 2% 0 0;
	transition: all .5s ease;
}
header .btn:hover{
	background: #003366;
	color: #FFFAFA;
}
.modal .modal-footer{
	border: none;
	box-shadow: none;
}

#loginModal .modal-header h3{
	margin-bottom: 0;
	margin-top: 40px;
	font-size: 2.8em;
}
#loginModal .modal-header h3 img{
	margin-top: -10px;
}
#loginModal .modal-body form button{
	background: #003366;
	transition: background .5s ease;
}
#loginModal .modal-body form button:hover{
	background: #000044;
}
#loginModal .modal-body .register button{
	margin-top: 62px;
	transition: all .5s ease;
}
#loginModal .modal-body .register button:hover{
	background: #FF9900;
	color: #FFFAFA;
}
#loginModal .modal-footer{
	border: none;
}

.home h2{
	margin: 30px 0 0 5%;
}
.formBG{
	background: #333333;
	overflow: hidden;
}
@media (max-width: 1075px){
	.formBG{
		padding-bottom: 30px;
	}
}
.confirmLanding{
	text-align: center;
	border: 3px solid #6699CC;
	border-radius: 2px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.confirmLanding h3{
	color: #FFFAFA;
}
.formBG form{
	margin-top: 50px;
}
.formBG form #method{
	font-size: 1.3em;
	font-weight: 700;
	border: 0;
	outline: none;
	box-shadow: none;
	transition: all .5s ease;
	margin-top: -2px;
	color: #FFFAFA;
	background: #333333;
	cursor: pointer;
}
.formBG form #method:hover{
	background: #C0C0C0;
	color: #141823;
}
.formBG form #method:focus{
	outline:none;
	box-shadow: none;
	border: none;
}
.formBG form input, .formBG form button, .formBG form .carriers{
	height: 45px;
}
.formBG form label{
	font-size: 1.38em;
	color: #FFFAFA;
}
.formBG form ul li small{
	padding-left: 15px;
}
.formBG form .emailHint{
	display: none;
}
.formBG form button{
	margin-top: 32px;
	background: #FF9900;
	border-color: #FFB039;
	transition: all .5s ease;
}
.formBG form button:hover, .formBG form button:focus{
	background: #C67600;
	border-color: #9B5D00;
}
.formBG form .carriers{
	border-radius: 2px;
}
section ul li small{
	color: #FFFAFA;
}
.about{
	margin-top: 50px;
}
.about article:nth-child(1) .col-md-2 h2{
	margin-top: 22px;
	margin-bottom: 0;
}
.about article:nth-child(2) .col-md-2 h2{
	margin-top: 12px;
	margin-bottom: 0;
}
.about .fa-clock-o{
	font-size: 2.4em;
}
.about .fa-mobile-phone{
	font-size: 3em;
}
section article h3{
	color: #003366;
}
.doDont ul li{
	margin: 5px 0;
	font-size: 1.2em;
}

.dash h2{
	margin-left: 2%;
}
.dash .upcomingMsg tr td .msg{
	max-width: 510px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

footer{
	margin: 30px 0 0;
	background: #C0C0C0;
	padding: 15px 0;
}
.dash ~ footer{
	margin-top: 150px;
}